In [1]:
 # Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data_path = "data_2.csv"

In [3]:
cancer_df = pd.read_csv(data_path, encoding="ISO-8859-1")

In [4]:
cancer_df.head()

,Sample_ID,Clump_thickness,Uniformity_cell_size,Uniformity_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,diagnosis
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [5]:
null_columns=cancer_df.columns[cancer_df.isnull().any()]
cancer_df[null_columns].isnull().sum()

Series([], dtype: float64)

In [6]:
cancer_df = cancer_df[cancer_df != '?']

In [7]:
cancer_df

,Sample_ID,Clump_thickness,Uniformity_cell_size,Uniformity_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,diagnosis
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1059552,1,1,1,1,2,1,3,1,1,2
24,1065726,5,2,3,4,2,7,3,6,1,4
25,1066373,3,2,1,1,1,1,2,1,1,2
26,1066979,5,1,1,1,2,1,2,1,1,2
27,1067444,2,1,1,1,2,1,2,1,1,2
28,1070935,1,1,3,1,2,1,1,1,1,2
29,1070935,3,1,1,1,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
653,1350423,5,10,10,8,5,5,7,10,1,4
654,1352848,3,10,7,8,5,8,7,4,1,4
655,1353092,3,2,1,2,2,1,3,1,1,2
656,1354840,2,1,1,1,2,1,3,1,1,2
657,1354840,5,3,2,1,3,1,1,1,1,2
658,1355260,1,1,1,1,2,1,2,1,1,2
659,1365075,4,1,4,1,2,1,1,1,1,2
660,1365328,1,1,2,1,2,1,2,1,1,2
661,1368267,5,1,1,1,2,1,1,1,1,2
662,1368273,1,1,1,1,2,1,1,1,1,2
663,1368882,2,1,1,1,2,1,1,1,1,2
664,1369821,10,10,10,10,5,10,10,10,7,4
665,1371026,5,10,10,10,4,10,5,6,3,4
666,1371920,5,1,1,1,2,1,3,2,1,2
667,466906,1,1,1,1,2,1,1,1,1,2
668,466906,1,1,1,1,2,1,1,1,1,2
669,534555,1,1,1,1,2,1,1,1,1,2
670,536708,1,1,1,1,2,1,1,1,1,2
671,566346,3,1,1,1,2,1,2,3,1,2
672,603148,4,1,1,1,2,1,1,1,1,2
673,654546,1,1,1,1,2,1,1,1,8,2
674,654546,1,1,1,3,2,1,1,1,1,2
675,695091,5,10,10,5,4,5,4,4,1,4
676,714039,3,1,1,1,2,1,1,1,1,2
677,763235,3,1,1,1,2,1,2,1,2,2
678,776715,3,1,1,1,3,2,1,1,1,2
679,841769,2,1,1,1,2,1,1,1,1,2
680,888820,5,10,10,3,7,3,8,10,2,4
681,897471,4,8,6,4,3,4,10,6,1,4
682,897471,4,8,8,5,4,5,10,4,1,4

In [8]:
cancer_df.dtypes

Sample_ID                      int64
Clump_thickness                int64
Uniformity_cell_size           int64
Uniformity_cell_shape          int64
Marginal_adhesion              int64
Single_epithelial_cell_size    int64
Bare_nuclei                    int64
Bland_chromatin                int64
Normal_nucleoli                int64
Mitoses                        int64
diagnosis                      int64
dtype: object

In [9]:
df = cancer_df.drop(['Sample_ID'], axis=1)

In [10]:
df['diagnosis'] = df['diagnosis'].map({4:1,2:0})
df.head()

,Clump_thickness,Uniformity_cell_size,Uniformity_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,diagnosis
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0

In [11]:
df.dropna()

,Clump_thickness,Uniformity_cell_size,Uniformity_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,diagnosis
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0
5,8,10,10,8,7,10,9,7,1,1
6,1,1,1,1,2,10,3,1,1,0
7,2,1,2,1,2,1,3,1,1,0
8,2,1,1,1,2,1,1,1,5,0
9,4,2,1,1,2,1,2,1,1,0
10,1,1,1,1,1,1,3,1,1,0
11,2,1,1,1,2,1,2,1,1,0
12,5,3,3,3,2,3,4,4,1,1
13,1,1,1,1,2,3,3,1,1,0
14,8,7,5,10,7,9,5,5,4,1
15,7,4,6,4,6,1,4,3,1,1
16,4,1,1,1,2,1,2,1,1,0
17,4,1,1,1,2,1,3,1,1,0
18,10,7,7,6,4,10,4,1,2,1
19,6,1,1,1,2,1,3,1,1,0
20,7,3,2,10,5,10,5,4,4,1
21,10,5,5,3,6,7,7,10,1,1
22,3,1,1,1,2,1,2,1,1,0
23,1,1,1,1,2,1,3,1,1,0
24,5,2,3,4,2,7,3,6,1,1
25,3,2,1,1,1,1,2,1,1,0
26,5,1,1,1,2,1,2,1,1,0
27,2,1,1,1,2,1,2,1,1,0
28,1,1,3,1,2,1,1,1,1,0
29,3,1,1,1,1,1,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...
653,5,10,10,8,5,5,7,10,1,1
654,3,10,7,8,5,8,7,4,1,1
655,3,2,1,2,2,1,3,1,1,0
656,2,1,1,1,2,1,3,1,1,0
657,5,3,2,1,3,1,1,1,1,0
658,1,1,1,1,2,1,2,1,1,0
659,4,1,4,1,2,1,1,1,1,0
660,1,1,2,1,2,1,2,1,1,0
661,5,1,1,1,2,1,1,1,1,0
662,1,1,1,1,2,1,1,1,1,0
663,2,1,1,1,2,1,1,1,1,0
664,10,10,10,10,5,10,10,10,7,1
665,5,10,10,10,4,10,5,6,3,1
666,5,1,1,1,2,1,3,2,1,0
667,1,1,1,1,2,1,1,1,1,0
668,1,1,1,1,2,1,1,1,1,0
669,1,1,1,1,2,1,1,1,1,0
670,1,1,1,1,2,1,1,1,1,0
671,3,1,1,1,2,1,2,3,1,0
672,4,1,1,1,2,1,1,1,1,0
673,1,1,1,1,2,1,1,1,8,0
674,1,1,1,3,2,1,1,1,1,0
675,5,10,10,5,4,5,4,4,1,1
676,3,1,1,1,2,1,1,1,1,0
677,3,1,1,1,2,1,2,1,2,0
678,3,1,1,1,3,2,1,1,1,0
679,2,1,1,1,2,1,1,1,1,0
680,5,10,10,3,7,3,8,10,2,1
681,4,8,6,4,3,4,10,6,1,1
682,4,8,8,5,4,5,10,4,1,1

In [12]:
df['Bare_nuclei'].astype(int)

0       1
1      10
2       2
3       4
4       1
5      10
6      10
7       1
8       1
9       1
10      1
11      1
12      3
13      3
14      9
15      1
16      1
17      1
18     10
19      1
20     10
21      7
22      1
23      1
24      7
25      1
26      1
27      1
28      1
29      1
       ..
653     5
654     8
655     1
656     1
657     1
658     1
659     1
660     1
661     1
662     1
663     1
664    10
665    10
666     1
667     1
668     1
669     1
670     1
671     1
672     1
673     1
674     1
675     5
676     1
677     1
678     2
679     1
680     3
681     4
682     5
Name: Bare_nuclei, Length: 683, dtype: int64

In [ ]:
data_final = df.drop("id", axis=1)
feature_names = data_final.columns
data_final.head()

In [ ]:
df_final = data_final[['diagnosis','perimeter_mean','area_mean','compactness_mean','concave points_mean']]
df_final.head()

In [13]:
X = df.drop("diagnosis", axis=1)
y = df["diagnosis"]
print(X.shape, y.shape)

(683, 9) (683,)

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=100, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [15]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=9))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [16]:
 # Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
 - 1s - loss: 0.4956 - acc: 0.8086
Epoch 2/60
 - 0s - loss: 0.1574 - acc: 0.9688
Epoch 3/60
 - 0s - loss: 0.0889 - acc: 0.9688
Epoch 4/60
 - 0s - loss: 0.0778 - acc: 0.9727
Epoch 5/60
 - 0s - loss: 0.0718 - acc: 0.9727
Epoch 6/60
 - 0s - loss: 0.0677 - acc: 0.9727
Epoch 7/60
 - 0s - loss: 0.0646 - acc: 0.9746
Epoch 8/60
 - 0s - loss: 0.0625 - acc: 0.9766
Epoch 9/60
 - 0s - loss: 0.0586 - acc: 0.9785
Epoch 10/60
 - 0s - loss: 0.0561 - acc: 0.9785
Epoch 11/60
 - 0s - loss: 0.0538 - acc: 0.9785
Epoch 12/60
 - 0s - loss: 0.0517 - acc: 0.9785
Epoch 13/60
 - 0s - loss: 0.0498 - acc: 0.9785
Epoch 14/60
 - 0s - loss: 0.0493 - acc: 0.9785
Epoch 15/60
 - 0s - loss: 0.0467 - acc: 0.9824
Epoch 16/60
 - 0s - loss: 0.0443 - acc: 0.9805
Epoch 17/60
 - 0s - loss: 0.0430 - acc: 0.9805
Epoch 18/60
 - 0s - loss: 0.0410 - acc: 0.9844
Epoch 19/60
 - 0s - loss: 0.0392 - acc: 0.9863
Epoch 20/60
 - 0s - loss: 0.0375 - acc: 0.9863
Epoch 21/60
 - 0s - loss: 0.0358 - acc: 0.9883
Epoch 22/60
 - 0s - loss: 0.0341 - acc: 0.9883
Epoch 23/60
 - 0s - loss: 0.0324 - acc: 0.9902
Epoch 24/60
 - 0s - loss: 0.0309 - acc: 0.9902
Epoch 25/60
 - 0s - loss: 0.0298 - acc: 0.9902
Epoch 26/60
 - 0s - loss: 0.0279 - acc: 0.9922
Epoch 27/60
 - 0s - loss: 0.0260 - acc: 0.9922
Epoch 28/60
 - 0s - loss: 0.0249 - acc: 0.9922
Epoch 29/60
 - 0s - loss: 0.0231 - acc: 0.9922
Epoch 30/60
 - 0s - loss: 0.0223 - acc: 0.9922
Epoch 31/60
 - 0s - loss: 0.0205 - acc: 0.9941
Epoch 32/60
 - 0s - loss: 0.0201 - acc: 0.9961
Epoch 33/60
 - 0s - loss: 0.0186 - acc: 0.9941
Epoch 34/60
 - 0s - loss: 0.0172 - acc: 0.9961
Epoch 35/60
 - 0s - loss: 0.0160 - acc: 0.9961
Epoch 36/60
 - 0s - loss: 0.0156 - acc: 0.9961
Epoch 37/60
 - 0s - loss: 0.0140 - acc: 0.9980
Epoch 38/60
 - 0s - loss: 0.0131 - acc: 0.9961
Epoch 39/60
 - 0s - loss: 0.0119 - acc: 0.9980
Epoch 40/60
 - 0s - loss: 0.0115 - acc: 0.9980
Epoch 41/60
 - 0s - loss: 0.0109 - acc: 0.9980
Epoch 42/60
 - 0s - loss: 0.0102 - acc: 0.9980
Epoch 43/60
 - 0s - loss: 0.0090 - acc: 1.0000
Epoch 44/60
 - 0s - loss: 0.0086 - acc: 0.9980
Epoch 45/60
 - 0s - loss: 0.0079 - acc: 1.0000
Epoch 46/60
 - 0s - loss: 0.0080 - acc: 1.0000
Epoch 47/60
 - 0s - loss: 0.0073 - acc: 1.0000
Epoch 48/60
 - 0s - loss: 0.0067 - acc: 1.0000
Epoch 49/60
 - 0s - loss: 0.0062 - acc: 1.0000
Epoch 50/60
 - 0s - loss: 0.0054 - acc: 1.0000
Epoch 51/60
 - 0s - loss: 0.0054 - acc: 1.0000
Epoch 52/60
 - 0s - loss: 0.0048 - acc: 1.0000
Epoch 53/60
 - 0s - loss: 0.0043 - acc: 1.0000
Epoch 54/60
 - 0s - loss: 0.0042 - acc: 1.0000
Epoch 55/60
 - 0s - loss: 0.0039 - acc: 1.0000
Epoch 56/60
 - 0s - loss: 0.0036 - acc: 1.0000
Epoch 57/60
 - 0s - loss: 0.0033 - acc: 1.0000
Epoch 58/60
 - 0s - loss: 0.0031 - acc: 1.0000
Epoch 59/60
 - 0s - loss: 0.0029 - acc: 1.0000
Epoch 60/60
 - 0s - loss: 0.0028 - acc: 1.0000

In [ ]:
 model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [ ]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")